@charset "UTF-8";
/*Typical device breakpoints
----------------------------
Pequenas tela : 600px
celular : 600px-768px
tablet : 768 - 992px
Desktop : 992 - 1200px
Grandes telas : acima de 1200px
*/

@media screen and (min-width: 768px){
    span#burguer{
        display: none;
    }
    menu{
        display:block;
    }
    menu > ul > li{
        display: inline-block;
        
    }
    menu > ul > li > a{
        box-shadow: none;
        border: none;
        
    }
    main{
        width: 768px;
    }
}